
.content {
	box-sizing: border-box;
	width: 800px;
	min-height: 300px;

	margin: auto;
	padding: 20px;

	background-color: #c0c0c0;
	border: 5px solid #808080;
	border-top: none;
}

.content h1 {
	margin-bottom: 40px;
	text-align: center;
	border-bottom: 5px solid #9c9c9c;
}


